body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-237px;
  width:494px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:338px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u0 {
  position:absolute;
  left:237px;
  top:231px;
  width:494px;
  height:338px;
}
#u1 {
  position:absolute;
  left:2px;
  top:161px;
  width:490px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
}
#u3 {
  position:absolute;
  left:339px;
  top:292px;
  width:290px;
  height:181px;
}
#u4 {
  position:absolute;
  left:2px;
  top:82px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5 {
  position:absolute;
  left:443px;
  top:408px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u7 {
  position:absolute;
  left:459px;
  top:342px;
  width:50px;
  height:49px;
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
}
#u10 {
  position:absolute;
  left:339px;
  top:292px;
  width:290px;
  height:181px;
}
#u11 {
  position:absolute;
  left:2px;
  top:82px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12 {
  position:absolute;
  left:429px;
  top:408px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u14 {
  position:absolute;
  left:459px;
  top:342px;
  width:50px;
  height:49px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:369px;
  top:425px;
  width:104px;
  height:38px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:369px;
  top:365px;
  width:244px;
  height:38px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:369px;
  top:308px;
  width:244px;
  height:35px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19 {
  position:absolute;
  left:324px;
  top:308px;
  width:35px;
  height:35px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u21 {
  position:absolute;
  left:324px;
  top:368px;
  width:35px;
  height:35px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u23 {
  position:absolute;
  left:529px;
  top:489px;
  width:84px;
  height:37px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:72px;
}
#u25 {
  position:absolute;
  left:324px;
  top:136px;
  width:289px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u27 {
  position:absolute;
  left:324px;
  top:425px;
  width:35px;
  height:35px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:308px;
  top:629px;
  width:322px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  white-space:nowrap;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u31 {
  position:absolute;
  left:492px;
  top:425px;
  width:80px;
  height:38px;
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u33 {
  position:absolute;
  left:500px;
  top:427px;
  width:64px;
  height:34px;
  font-family:'Cooper Std Black', 'Cooper Std';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u34 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u35 {
  position:absolute;
  left:632px;
  top:629px;
  width:16px;
  height:16px;
}
#u36 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
